
/* Ritesh Parkhi start */

*{
    scroll-behavior: smooth !important;
    }

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-image: url("images/cool-background.png");
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: black;
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    position: absolute;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
    color: #fff;
  }
  
  /* .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  } */
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    color: #fff;
    text-decoration: #fff;
  }
  
  /* menu */

  .header .menu {

    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-align: center;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
      align-items: center;
    }
    .header .menu-icon {
      display: none;
    }
  }

/* Home page Img css */
  
.home_img{
    width:100%;
    height: 100vh;
}


/* Ritesh Parkhi end */


/* Akash Zalke start */
.item{
  
  width: 100%;
  height: 80vh;
}

/* Akash Zalke end */




body {
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
color: #4a4a4a; }

.cyan {
background: #0097A7 !important; }

button {
background: #0097A7;
border: none;
border-radius: 50%;
padding: 1.75rem;
margin:1rem 0;
font-size: 1rem;
box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
.plus {
position:relative;
display:block;
line-height:20px;
font-size:30px;
color:white;
width:25px;
height:25px;
}

.flex-container {
display: flex;
flex-wrap: wrap; }

.flex-nav {
flex-grow: 1;
flex-shrink: 0;
background: #303F9F;
height: 3rem; }

.flex-menu {
padding: 1rem 2rem;
float: right; }

.featured {
background: #3F51B5;
color: #ffffff;
padding: 3rem; }
.featured h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 300; }
.featured h2 {
    font-weight: 300;
    margin-bottom:.5rem
}
.featured img {
    display: block; }

.flex-card {
flex: 1;
flex-grow: 1;
flex-shrink: 0;
flex-basis:400px;
display: flex;
flex-wrap: wrap;
background: #ffffff;
margin: .5rem;
-webkit-transition: all 250ms;
-moz-transition: all 250ms;
transition: all 250ms;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
.flex-card div {
    flex: 100%; }
.flex-card .hero {
    position: relative;
    color: #ffffff;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pocket-lint.com/r/s/1200x/assets/images/148790-games-news-pubg-mobile-lite-is-now-available-in-india-low-powered-phones-now-get-battle-royale-action-too-image1-slymdjq2c4.jpg) no-repeat;
    background-size: cover; }
    .flex-card .hero h3 {
    position: absolute;
    bottom: 15px;
    left: 0;
    padding: 0 1rem; }
.flex-card .content {
    color: #555;
    padding: 1.5rem 1rem  2rem 1rem; }
.flex-card .footer {
    color: #0097A7;
    padding: 1rem;
    border-top: 1px solid #eee;
    align-self: flex-end;
    font-size: 1rem; }
.flex-card img {
    display: inline-block;
    width: 32px; }

/* Pop */
@-webkit-keyframes hvr-pop {
50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@keyframes hvr-pop {
50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
.hvr-pop {
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale; }

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
-webkit-animation-name: hvr-pop;
animation-name: hvr-pop;
-webkit-animation-duration: 0.3s;
animation-duration: 0.3s;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1; }

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 .home_img{
   width: 100%;
   height: auto;
 }